/* 학습용 기본 스타일 */
body {
  padding: 1.5rem;
}

h1 {
  border-bottom: 2px solid black;
}

h1 span {
  font-size: 1.2rem;
}

h2:not(:first-of-type) {
  margin-top: 5rem;
}

section:not(h2 + section) {
  margin-bottom: 8rem;
}

/* 연습 */
/* 구체성의 원칙 */
.specificity #id {
  color: green;
}

#id {
  color: blue;
}

.class {
  color: yellow;
}

.specificity p {
  color: black;
}

/* 클래스 + 유형 선택자 */
.ul a {
  color: yellow;
}

/* 클래스 선택자 */
.click {
  color: green;
  background: black;
}

/* 유형 선택자 */
html body main section section article div ul li p strong span a {
  background: purple;
  color: blue;
}

/* block vs inline vs inline-block */
img {
  width: 100px;
}

/* box-sizing */
.box-sizing {
  background-color: skyblue;
  width: 100px;
  border: 10px solid royalblue;
  box-sizing: border-box;
}

/* CSS Box Model - width */
.width p {
  background: pink;
}

.max-content {
  width: max-content;
}

.min-content {
  width: min-content;
}

.fit-content {
  width: fit-content;
}

/* CSS Box Model - height */
.box1 {
  background-color: skyblue;
  border: 10px solid royalblue;
  width: 100%;
  height: 200px;
  box-sizing: border-box;
}

.box2 {
  background-color: gold;
  height: 50%;
}

/* margin-collasing */
.margin-collasing p {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  color: white;
  font-size: 40px;
}

.a {
  background: salmon;
  margin: 20px;
}

.b {
  background: slateblue;
  margin: 30px 20px;
}

.margin-collasing-parent {
  background: skyblue;
  /* 마진병합 현상 해결방법 */
  /* overflow: hidden; */
  display: inline-block;
  /* border: 1px solid black; */
  /* display: flow-root; */
  /* padding: 20px; */
}

.c {
  background: seagreen;
  margin: 20px;
}

/* border */
.gradient {
  width: 200px;
  text-align: center;
  border: 30px solid;
  border-image: repeating-linear-gradient(
      45deg,
      rgba(0, 131, 255, 1) 0%,
      rgba(9, 9, 121, 1) 19%,
      rgba(2, 161, 221, 1) 19%,
      rgba(-1, 131, 255, 1) 32%,
      rgba(0, 212, 255, 1) 32%,
      rgba(0, 212, 255, 1) 40%,
      rgba(0, 114, 255, 1) 39%,
      rgba(0, 114, 255, 1) 98%,
      rgba(0, 114, 255, 1) 98%
    )
    30;
  padding: 20px;
}

/* border-image */
.border-image {
  text-align: center;
  border: 50px solid transparent;
  padding: 10px;
  border-image: url("https://cdn.pixabay.com/photo/2016/02/22/12/37/waves-1215449_1280.jpg")
    10%;
}

/* overflow */
.overflow {
  width: 100px;
  height: 100px;
  border: 3px solid black;
  /* overflow: visible; */
  /* overflow: hidden; */
  overflow: clip;
  /* overflow: scroll; */
  /* overflow: auto; */
}

/* border-radius */
.border-radius-container {
  display: flex;
  justify-content: space-between;
}

.border-radius-container div {
  width: 100px;
  height: 100px;
  background-color: #8e4bf6;
}

.border-radius-container div:nth-of-type(1) {
  border-radius: 50%;
}

.border-radius-container div:nth-of-type(2) {
  border-radius: 10px;
}

.border-radius-container div:nth-of-type(3) {
  border-top-left-radius: 100%;
}

.border-radius-container div:nth-of-type(4) {
  border-radius: 100% 0;
}

.border-radius-container div:nth-of-type(5) {
  border-radius: 0 50%;
}

.border-radius-container div:nth-of-type(6) {
  height: 50px;
  border-radius: 100px 100px 0 0;
}

/* background & box-shadow */
.background {
  overflow: auto;
  font-size: 40px;
  padding: 40px;
  border: 40px inset rgba(65, 128, 205, 0.331);
  background: url(https://cdn.pixabay.com/photo/2017/04/08/16/16/beach-2213618_1280.jpg);
  background-attachment: fixed;
  background-clip: border-box;
  background-origin: padding-box;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-shadow: 1px 1px 2px black;
  /* -webkit-background-clip: text; */
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.background-container,
.background-practice {
  margin: 5rem;
}

/* background-practice */
.background-practice div {
  margin-bottom: 5rem;
  height: 500px;
  overflow: auto;
  font-size: 40px;
  color: white;
}

.background1 {
  background: url(https://cdn.pixabay.com/photo/2015/06/02/13/58/pink-lemonade-795029_1280.jpg);
  background-attachment: fixed;
}

.background2 {
  background: url(https://cdn.pixabay.com/photo/2020/03/05/20/37/flower-4905417_1280.jpg);
  background-attachment: local;
  background-position: 50% 50%;
}

.background3 {
  background: url(https://cdn.pixabay.com/photo/2020/04/14/15/35/beach-5043177_1280.jpg);
  background-attachment: scroll;
  background-position: 10% 30%;
}

.background1,
.background2,
.background3 {
  background-repeat: no-repeat;
  background-size: cover;
}
